In [ ]:
import pandas as pd

pd.set_option('display.max_rows', None)       # Show all rows
pd.set_option('display.max_columns', None)    # Show all columns
pd.set_option('display.width', None)          # Auto width to avoid wrapping
pd.set_option('display.max_colwidth', None)

df = pd.read_csv("TurnerAI.csv")

print(df.head(3))

In [21]:
from db_connection import with_sqlite_cursor

with with_sqlite_cursor() as (con, cur):
    cur.execute("""SELECT SUM("Total Sales") FROM TurnerTable WHERE strftime('%Y', "From_Date") = '2025';""")
    result = cur.fetchall()
    pd.DataFrame(result)
    print(result)

[(26551328.38000006,)]

In [2]:
from db_connection import with_sqlite_cursor
with with_sqlite_cursor() as (con, cur):
    cur.execute("""SELECT From_Date from TurnerTable LIMIT 3;""")
    result = cur.fetchall()
    print(result)

[('2025-05-27',), ('2025-05-28',), ('2025-05-29',)]

In [ ]:
import pandas as pd

with with_sqlite_cursor() as (con, cur):
    cur.execute("""SELECT 
    MIN(From_Date) AS min_value,
    MAX(From_Date) AS max_value
    FROM TurnerTable;""")

    result = cur.fetchall()
    
    df = pd.DataFrame(result)
    print(df)

NameError: name 'pd' is not defined

In [ ]:
import pyodbc

# Connection details
server = "192.168.3.112"
database = "iProfitAfhsTX"
username = "OpenAIUSR"
password = "Pa$$w0rd@123"

# Build connection string
conn_str = (
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER=192.168.3.112,1433;"  # add port or instance if needed
    f"DATABASE=iProfitAfhsTX;"
    f"UID=OpenAIUSR;"
    f"PWD=Pa$$w0rd@123;"
)

# Connect
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Test query
cursor.execute("SELECT TOP 5 name FROM sys.tables")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')